.trailer {
    width: 100vw;
    clip-path: inset(9% 0 9% 0);
    margin-top: -4%;
    z-index: -3;
}

.container__trailer {
    position: relative;
    display: block;
}

.call__to-action {
    display: block;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.call__to-action h2 {
    margin-bottom: 3rem;
    color: #d3d3d3;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

.call__to-action img {
    width: 368px;
    filter: invert();
    margin-bottom: 5rem;
}

.play-free {
    z-index: 100;
}

.btn__play-free {
    text-decoration: none;
    color: #FFF;
    font-family: var(--fonte-principal);
    font-size: 18px;
    background-color: rgb(255, 70, 85);
    padding: 1rem 2rem;
    outline: 0.5px solid white;
    outline-offset: 3px;
    cursor: pointer;
}

.btn__play-free:hover {
    transition: background-color 0.8s;
    background-color: #fff;
    color: #000;
}